body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 500px;
    margin: 0 auto;
}

button, input {
    border: 1px solid #000;
    border-radius: .25em;
    padding: .25em .5em;
}

button {
    background-color: #fff;
}

button:hover {
    background-color: #eee;
}

li {
    display: flex;
    align-items: center;
}